@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

body{
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-size:100%

}

.container{
  width: 100%;
  margin: 1em auto;
  background-color: rgb(157, 161, 161);
}
.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(auto-fit,272px);
  grid-gap: 0.2em;
  justify-content: center;
}
h2{
  background-color: antiquewhite;
}
.titleTvShow-Details{
  font-family: sans-serif;
  font-size: 37px;
}
.Card-tvShowDetails{
  padding: 10px;
  background-color:#f7f7f7 !important;
  border : 'none';
   box-shadow: '0 1px 5px 0 rgb(0 0 0 / 15%)';
}
.card-img-top{
  width: 224px !important;
}
.spinner{
  display: flex;
  justify-content: center;

}